<!DOCTYPE html>
<html>
  <head>
    <title>Board Process Orders</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <input id="width">
      <input id="height">
      <button id="start">start</button>
      <p id="processTime"></p>
      <p id="log"></p>
      <button id="result">result</button>
  </body>

  <script src="/client/js/index.js"></script>
</html>
