<!DOCTYPE html>
<html>
  <head>
    <title>Board Process Orders</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <input id="width">
      <input id="height">
      <button id="start">start</button>
      <p id="processTime"></p>
      <p id="log"></p>
  </body>

  <script>
    const startButton = document.getElementById("start");
    const logArea = document.getElementById("log");
    const inputs = {
      width: document.getElementById("width"),
      height: document.getElementById("height")
    }
    const processTime = document.getElementById("processTime");

    startButton.addEventListener("click", async () => {
      logArea.textContent = "";

      // main.js の実行を開始する
      const start = performance.now();
      // エンドポイントにアクセス
      await fetch(`/start?width=${inputs.width.value}&height=${inputs.height.value}`)
        .then(response => {
          // 送信されるストリームを読み込むリーダー
          const reader = response.body.getReader();
          // バイナリのテキストを変換するデコーダー
          const decoder = new TextDecoder();
          // 送信されたテキストを読み込む
          return reader.read().then(
            // 読み込んだテキストデータを処理する
            function processText(result) {
              // ストリームの読み取りが完了していれば終了する（再帰用の処理）
              if (result.done) return;
              // 読み込んでいないデータチャンクがあればテキストデータをデコードする
              logArea.textContent = decoder.decode(result.value);
              // 再帰してストリームが終了するまで再度デコードする
              return reader.read().then(processText);
            }
          );

        })
        .catch(err => console.error("Fetch failed.", err));
        
        // 処理時間を表示する（通信によって多少の誤差はある）
        processTime.textContent = performance.now() - start;
    });
  </script>
</html>
