<!DOCTYPE html>
<html>
  <head>
    <title>Board Process Orders</title>
    <link rel='stylesheet' href='/css/index.css'/>
  </head>
  <body>
    <main>
      <div class="cubic-element upper-side">
        <div class="hexagon"></div>
      </div>
      <div class="cubic-element right-side">
        <div class="hexagon"></div>
      </div>
      <div class="cubic-element left-side">
        <div class="hexagon"></div>
      </div>
      <div class="cubic-element lower-side">
        <div class="octagon"></div>
      </div>
    </main>
      <input id="width">
      <input id="height">
      <button id="start">start</button>
      <p id="processTime"></p>
      <p id="log"></p>
      <button id="result">result</button>
  </body>

  <script src="/js/index.js"></script>
</html>
