<!DOCTYPE html>
<html>
  <head>
    <title>Board Process Orders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/index.css'/>
  </head>
  <body>
    <main>
      <div class="cubic-element upper-side">
        <div class="hexagon">
          <div class="content">
            <h1>進捗<span>PROGRESS</span></h1>
            <div id="progressBar">
              <div class="gauge"></div>
              <p><span class="percentage"></span>%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cubic-element right-side">
        <div class="hexagon">
          <div class="content">
            <h1>結果<span>RESULT</span></h1>
            <div class="item-area">
              <div class="item">
                <p>ステータス
                  <span class="type">status: any</span>
                </p>
                <div id="status">
                  <span class="status-title">実行待機</span>
                  <span class="status-subtitle">STAND-BY</span>
                </div>
              </div>

              <div class="item">
                <p>処理時間
                  <span class="type">time: number</span>
                </p>
                <div class="processed-time-area">
                  <span id="processedTime"></span>
                  <span>expected: <span id="expectedTime"></span></span>
                </div>
              </div>

              <div class="item">
                <p>操作手数
                  <span class="type">orderCount: number</span>
                </p>
                <div class="order-count">
                  <span id="orderCount">0</span> 手
                  <span>expected: <span id="expectedCount">0</span> 手</span>
                </div>
              </div>
            </div>

            <div class="side-button-area">
              <button id="confirm"><span>CONFIRM</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="cubic-element left-side">
        <div class="hexagon">
          <div class="content">
            <h1>設定<span>SETTING</span></h1>
            <div class="item-area">
              <div class="item">
                <p>デバッグモード
                  <span class="type">debugMode: boolean</span>
                </p>
                <input type="checkbox" class="toggle" id="debugMode" name="debugMode">
              </div>

              <%# -- debugModeがfalseのときにactive -- %>
              <div class="options">
                <div class="item">
                  <p>接続先ポート番号
                    <span class="type">port: number</span>
                  </p>
                  <div class="number-field-area">
                    <div class="number-field" id="port">
                      <button class="increment-upper-triangle">▲</button>
                      <input type="number" value="8001" min="1" max="65535">
                      <button class="decrement-lower-triangle">▼</button>
                    </div>
                  </div>
                </div>
                
                <div class="item">
                  <p>簡易サーバー起動
                    <span class="type">runSimpleServer: Request</span>
                  </p>
                  <input type="checkbox" class="toggle" id="runSimpleServer" name="runSimpleServer">
                </div>
              </div>

              <%# debugModeがtrueのときにactive %>
              <div class="options">
                <div class="item">
                  <p>ボードサイズ
                    <span class="type">width, height: number</span>
                  </p>
                  <div class="number-field-area">
                    <div class="number-field" id="width">
                      <button class="increment-upper-triangle">▲</button>
                      <input type="number" value="32" min="32" max="256">
                      <button class="decrement-lower-triangle">▼</button>
                    </div>
                    <p>×</p>
                    <div class="number-field" id="height">
                      <button class="increment-upper-triangle">▲</button>
                      <input type="number" value="32" min="32" max="256">
                      <button class="decrement-lower-triangle">▼</button>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <p>問題の生成のみ実行
                    <span class="type">isGenQuestion: boolean</span>
                  </p>
                  <input type="checkbox" class="toggle" id="isGenQuestion" name="isGenQuestion">
                </div> 
              </div>
              
              <div class="item">
                <p>ログを保存
                  <span class="type">isSavedLog: boolean</span>
                </p>
                <input type="checkbox" class="toggle" id="isSavedLog" name="isSavedLog">
              </div>

              <div class="item">
                <p>ボードを描画
                  <span class="type">isDrawnBoard: boolean</span>
                </p>
                <input type="checkbox" class="toggle" id="isDrawnBoard" name="isDrawnBoard">
              </div>
            </div>

            <div class="description-area" id="description">
              各項目のスイッチに触れると説明が表示されます。設定終了後に、STARTボタンを押して処理の実行を開始してください。
            </div>

            <div class="side-button-area">
              <button id="start"><span>START</span></button>
            </div>
          </div>

          </div>
        </div>
      </div>
      <div class="cubic-element lower-side">
        <div class="octagon">
          <div class="content">
            <h1>コンソール<span>CONSOLE</span></h1>
            <ul id="console"></ul>
          </div>
        </div>
      </div>
    </main>
  </body>

  <script src="/js/index.js" type="module"></script>
</html>