/** --< 基本設定 >-- */
* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/** --< メインスクリーン >-- */
main {
    --centering-margin: 5%;
    max-height: calc(100% - var(--centering-margin));
    aspect-ratio: calc(16 / 9);
    position: relative;
    margin: auto;
    top: calc(var(--centering-margin) / 2);
    border: 2px violet solid;
    font-size: calc((1.6vw + 0.9vh) * 0.5);
    caret-color: transparent;
    overflow: hidden;
}

/** -- 立体に見せる要素 -- */
/* 立体に見せる設定 */
.cubic-element {
    --animation-duration: 1.25s;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-fill-mode: forwards;
    --animation-delay: 0s;
    transform-style: preserve-3d;
    perspective: 450px;
    height: 100%;
    position: absolute;
}

/* 上下部分の共通設定 */
.cubic-element.upper-side, .cubic-element.lower-side {
    --positionY-offset: 10%;
    --rotateX-offset: 20deg;
    --rotateX-delta-offset: 70deg;
    height: 50%;
    inset: auto 0;
    margin: 0 auto;

    > .hexagon, .octagon {
        transform-origin: center top 150px;
        animation-name: y-side-element-appear;
        animation-duration: var(--animation-duration);
        animation-timing-function: var(--animation-timing-function);
        animation-fill-mode: var(--animation-fill-mode);
        animation-delay: var(--animation-delay);

        > .content {
            position: relative;
            margin: 0 auto;
    
            > h1 {
                font-size: 1em;
            }
        }
    }
}

/* 上部分の設定 */
.cubic-element.upper-side {
    width: 33.3%;
    top: 0;

    /* 六角形オブジェクト */
    > .hexagon {
        --vertex-margin: 20%;
        --positionZ-after: 50px;
        --direction-factor: 1;
        --rotateX-after: calc(360deg - var(--rotateX-offset));
        --rotateX-before: calc(var(--rotateX-after) - var(--rotateX-delta-offset));
        width: 100%;
        height: 30%;
        clip-path: polygon(calc(25% - var(--vertex-margin)) 0%,
                           calc(75% + var(--vertex-margin)) 0%, 100% 50%,
                           calc(75% + var(--vertex-margin)) 100%,
                           calc(25% - var(--vertex-margin)) 100%, 0% 50%);

        > .content {
            width: 85%;
            height: 80%;

            #progressBar {
                position: relative;
                width: 100%;
                height: 30%;
                padding: 3px;
                border: 3px white solid;
                background-color: transparent;

                > .gauge {
                    width: 0%;
                    height: 100%;
                    background-color: white;
                    transition: width ease 0.5s;
                }

                > p {
                    position: relative;
                    inset: 0;
                    margin: 2.5% auto;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    color: white;
                    font-family: "DSEG7 Classic", "Source Code Pro";
                }
            }
        }
    }
}

.cubic-element.lower-side {
    width: 35%;
    bottom: 0;

    > .octagon {
        --vertex-margin-width: 27.5%;
        --vertex-margin-height: 20%;
        --positionZ-after: -10px;
        --direction-factor: -1;
        --rotateX-after: calc(360deg + var(--rotateX-offset));
        --rotateX-before: calc(var(--rotateX-after) + var(--rotateX-delta-offset));
        width: 100%;
        height: 40%;
        clip-path: polygon(calc(30% - var(--vertex-margin-width)) 0%,
                           calc(70% + var(--vertex-margin-width)) 0%,
                           100% calc(30% - var(--vertex-margin-height)),
                           100% calc(70% + var(--vertex-margin-height)),
                           calc(70% + var(--vertex-margin-width)) 100%,
                           calc(30% - var(--vertex-margin-width)) 100%,
                           0% calc(70% + var(--vertex-margin-height)),
                           0% calc(30% - var(--vertex-margin-height)));
        
        > .content {
            width: 92.5%;
            height: 85%;

            #console {
                width: 100%;
                height: 65%;
                border: 2px white solid;
                margin: 0.5em 0;
                padding: 0 0.5em 0.5em 2em;
                overflow-y: auto;
                scrollbar-width: thin;

                > li {
                    width: 100%;
                    overflow-wrap: break-word;
                    font-size: 0.85em;
                    font-family: "Source Code Pro";
                    color: white;
                    margin-top: 0.5em;

                    &::marker {
                        font-size: 1.25em;
                    }
                }

                > li.log::marker {
                    color: #37be5f;
                }

                > li.error {
                    color: red;

                    &::marker {
                        color: red;
                    }
                }
            }
        }
    }
}

.cubic-element.left-side, .cubic-element.right-side {
    --angleY-after: 35deg;
    --angleY-before: 70deg;
    --positionX-after: -5%;
    --positionX-before: -100%;
    --positionY: 17.5%;
    --positionZ-after: -80px;
    --positionZ-before: -100px;
    width: 50%;
    overflow: hidden;

    > .hexagon {
        --vertex-margin: 5%;
        animation-name: x-side-element-appear;
        animation-duration: var(--animation-duration);
        animation-timing-function: var(--animation-timing-function);
        animation-fill-mode: var(--animation-fill-mode);
        animation-delay: var(--animation-delay);
        width: 100%;
        height: 75%;
        clip-path: polygon(calc(25% - var(--vertex-margin)) 0%,
                           calc(75% + var(--vertex-margin)) 0%, 100% 50%,
                           calc(75% + var(--vertex-margin)) 100%,
                           calc(25% - var(--vertex-margin)) 100%, 0% 50%);

        > .content {
            position: relative;
            margin: 0 auto;
            width: 55%;
            height: 90%;
        }
    }
}

.cubic-element.left-side {
    --direction-factor: 1;
    left: 0;

    > .hexagon {
        transform: rotateY(var(--angleY-after))
                   translate3d(var(--positionX-after), var(--positionY), var(--positionZ-after));
        
        .item-area {
            margin-left: 2.5%;
            margin-right: auto;
        }

        .side-button-area {
            inset: 2% -31% 0 auto;
            
            > button:hover {
                transform: translate3d(10.5%, 0, 15px) scale(1.05);
            }
        }
    }
}

.cubic-element.right-side {
    --direction-factor: -1;
    right: 0;

    > .hexagon {
        transform: rotateY(calc(-1 * var(--angleY-after)))
                   translate3d(calc(-1 * var(--positionX-after)), var(--positionY), var(--positionZ-after));
    
        .item-area {
            margin-left: auto;
            margin-right: 2.5%;
        }

        .side-button-area {
            inset: 2% auto 0 -31%;

            > button {
                transform: rotate(180deg);
                
                &:hover {
                    transform: rotate(180deg) translate3d(10.5%, 0, 15px) scale(1.05);
                }
            }
        }
    }
}

.hexagon, .octagon {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);    
}

.content {
    h1 {
        position: relative;
        font-size: 1.85em;
        color: white;
        margin-bottom: 3%;
        border-bottom: white 2px solid;

        > .content-title {
            font-family: "Noto Serif JP";
            transform: scaleX(0.75);
            display: inline-block;
            margin-left: -0.25em;
            letter-spacing: 0.15em;
        }

        > .content-subtitle {
            position:absolute;
            right: 2.5%;
            bottom: 5%;
            font-size: 0.7em;
            font-family: "Century Gothic";
            font-weight: normal;
            transform: scaleY(0.85);
            letter-spacing: -0.05em;
        }
    }

    h1:before, .item > p::before {
        content: "■";
        display: inline-block;
        transform: scaleX(0.3);
        letter-spacing: -0.3em;
    }

    .item-area {
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            > p {
                width: fit-content;
                position: relative;
                color: white;
                font-size: 1.25em;
                font-family: "Hiragino Sans StdN";
                letter-spacing: 0.1em;
                display: block;
                padding: 2px 0.5em 2px 0;
                margin: 0.75em 0 1em;
                border-bottom: 2px white solid;
    
                > .type {
                    display: block;
                    position: absolute;
                    top: 100%;
                    margin: 2% 4%;
                    font-size: 0.55em;
                    font-family: "Source Code Pro";
                    letter-spacing: normal;
                    white-space: nowrap;
                }
            }
        }

        .toggle {
            width: 20%;
            aspect-ratio: 2;
        }

        .options.active {
            width: 100%;
            padding: 2.5%;
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            background: rgba(0, 0, 0, 0.3);

            p {
                font-size: 1.1em;
            }

            .number-field-area {
                display: inline-block;

                > p {
                    text-align: center;
                    display: inline-block;
                    margin: auto 0.2em;
                    color: white;
                }

                input {
                    width: 2.85em;
                    height: 1.45em;
                    font-size: 1.25em;
                }
            }
        }

        .options {
            display: none;
        }

        .toggle {
            border: 1px solid #0c0c0d4d;
            color: #737373;
            display: block;
            margin: 0 4px;
            -webkit-appearance: none;
            appearance: none;
            background-color: #0c0c0d1a;
            /* border-radius: calc(8px * var(--scale)); */
            position: relative;
            cursor: pointer;

            &:hover {
                background-color: #0c0c0d33;
                border-color: #0c0c0d7f;
            }

            &:active {
                background-color: #0c0c0d4d;
            }

            &:checked {
                background-color: #0060df;
                border-color: #0060df;
            }

            &::before {
                background-color: currentColor;
                /* border-radius: calc(6px * var(--scale)); */
                content: "";
                display: inline-block;
                width: 15%;
                height: 75%;
                position: absolute;
                inset: 0;
                margin: auto 5%;
                transition: margin-left .2s cubic-bezier(.07, .95, 0, 1);
            }
        
            &:checked::before {
                background-color: #ffffff;
                margin-left: 80%;
            }
            
            &::after {
                content: "O";
                font-size: 1em;
                position: absolute;
                right: 10%;
                top: 50%;
                transform: translate(0, -50%);
            }
            
            &:checked::after {
                color: #ffffff;
                content: "I";
                left: 10%;
            }
        }

        .number-field {
            position: relative;
            display: inline-block;
    
            > input {
                text-align: center;
            }
    
            > input::-webkit-inner-spin-button,
            > input::-webkit-outer-spin-button {
                appearance: none;
                margin: 0;
            }
    
            > .increment-upper-triangle, 
            > .decrement-lower-triangle {
                display: block;
                position: absolute;
                inset: 0;
                font-size: 1em;
                text-align: center;
                cursor: pointer;
                color: white;
                border: 0;
                background: none;
                cursor: pointer;
                transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
            
            > .increment-upper-triangle:active, 
            > .decrement-lower-triangle:active {
                color: gray;
            }
    
            > .increment-upper-triangle {
                transform: translate(0, -80%);
            }
    
            > .decrement-lower-triangle {
                transform: translate(0, 90%);
            }
        }

        /* -- 主に右側 (.right-side) -- */
        #status {
            --scaleX: 0.8;
            --scaleY: 1.2;
            font-size: 2.25em;
            font-family: "Hiragino Sans StdN";
            font-weight: 900;
            margin: 0.5em 0;
            transform: scale(var(--scaleX), var(--scaleY));
            color: white;

            > .status-subtitle {
                display: block;
                width: 100%;
                font-size: 0.35em;
                font-family: "Century Gothic";
                font-weight: normal;
                text-align: center;
                letter-spacing: 0.6em;
                margin-left: 0.3em;
                transform: scaleY(calc(1 / var(--scaleY))) scaleX(var(--scaleY));
            }
        }

        .processed-time-area {
            font-size: 2.5em;
            font-family: "Source Code Pro";
            margin: 0.5em 0;
            color: white;
            letter-spacing: -0.025em;

            > #processedTime {
                font-family: "DSEG7 Classic";
                font-size: 0.9em;
                font-weight: bold;
                letter-spacing: normal;
            }

            > span:last-child {
                display: block;
                font-size: 0.4em;
                font-weight: normal;
                text-align: end;
                margin-top: 0.6em;

                > #expectedTime {
                    font-family: "DSEG7 Classic";
                    font-size: 1.25em;
                    letter-spacing: normal;
                }
            }
        }

        .order-count {
            font-size: calc(2.5em * 0.9 / 2);
            font-family: "Source Code Pro", "Hiragino Sans StdN";
            margin: 0.5em 0;
            color: white;
            text-align: end;
            letter-spacing: -0.025em;

            > #orderCount {
                font-family: "DSEG7 Classic";
                font-size: 2em;
                font-weight: bold;
                letter-spacing: normal;
            }

            > span:last-child {
                display: block;
                font-size: calc(1em * 2 / 0.9 * 0.35);
                font-weight: normal;
                margin-top: calc(1em * 2 / 0.9 * 0.2);

                > #expectedCount {
                    font-family: "DSEG7 Classic";
                    font-size: 1.25em;
                    letter-spacing: normal;
                }
            }
        }
    }
   
    .description-area {
        position: relative;
        width: 95%;
        height: 17%;
        margin: 5% 0;
        padding: 2% 4%;
        font-size: 0.9em;
        font-family: "Helvetica Neue", "Hiragino Sans StdN";
        letter-spacing: 0.05em;
        color: white;
        background-color: rgba(0, 0, 0, 0.25);
    }
    
    .side-button-area {
        position: absolute;
        inset: 2% -31% 0 auto;
        margin: auto;
        width: 27%;
        height: 83%;
    
        > button {
            clip-path: polygon(100% 50%, 0 0, 0 100%);
            background-color: rgba(0, 0, 0, 0.25);
            width: 100%;
            height: 100%;
            border: 0;
            cursor: pointer;
            font-size: 1em;
            transition: all ease-in-out 0.3s;

            &:hover {
                filter: drop-shadow(0px 0px 3px white);
            }
    
            > span {
                color: white;
                writing-mode: vertical-lr;
                letter-spacing: 0.5em;
                text-align: center;
                font-size: 1.25em;
                font-family: "Helvetica Neue";
                font-weight: 500;
                width: 100%;
                height: 100%;
                margin: auto 0;
                margin-top: 0.5em;
                transform: translate(10%, 0) scaleY(1.25);
                pointer-events: none;

                &::after {
                    content: "▶";
                    font-size: 0.75em;
                    position: absolute;
                    inset: 0;
                    left: 45%;
                }
            }
        }
    }
}

@font-face {
    font-family: "DSEG7 Classic";
    font-weight: normal;
    src: url("../fonts/DSEG7Classic-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "DSEG7 Classic";
    font-weight: bold;
    src: url("../fonts/DSEG7Classic-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Noto Serif JP";
    font-weight: 900;
    src: url("../fonts/NotoSerifJP-Black.woff2") format("woff2");
}

@font-face {
    font-family: "Noto Serif JP";
    font-weight: 400;
    src: url("../fonts/NotoSerifJP-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/CenturyGothic-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Hiragino Sans StdN";
    font-weight: 400;
    src: url("../fonts/HiraginoSansStdN-W4.woff2") format("woff2");
}

@font-face {
    font-family: "Hiragino Sans StdN";
    font-weight: 900;
    src: url("../fonts/HiraginoSansStdN-W9.woff2");
}

@font-face {
    font-family: "Helvetica Neue";
    font-weight: 400;
    src: url("../fonts/HelveticaNeue-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Helvetica Neue";
    font-weight: 500;
    src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: normal;
    src: url("../fonts/SourceCodePro-Regular.ttf.woff2");
}

@keyframes y-side-element-appear {
    0% {
        transform: translateY(calc(100% + var(--direction-factor) * var(--positionY-offset)))
                   rotateX(var(--rotateX-before))
                   translateZ(var(--positionZ-after));
    }

    100% {
        transform: translateY(calc(100% + var(--direction-factor) * var(--positionY-offset)))
                   rotateX(var(--rotateX-after))
                   translateZ(var(--positionZ-after));
    }
}

@keyframes x-side-element-appear {
    0% {
        transform: rotateY(calc(var(--direction-factor) * var(--angleY-before)))
                   translate3d(calc(var(--direction-factor) * var(--positionX-before)), var(--positionY), var(--positionZ-before));
    }

    100% {
        transform: rotateY(calc(var(--direction-factor) * var(--angleY-after)))
                   translate3d(calc(var(--direction-factor) * var(--positionX-after)), var(--positionY), var(--positionZ-after));
    }
}