* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    --centering-margin: 5%;
    max-height: calc(100% - var(--centering-margin));
    aspect-ratio: calc(16 / 9);
    position: relative;
    margin: auto;
    top: calc(var(--centering-margin) / 2);
    border: 2px violet solid;
}

.cubic-element {
    transform-style: preserve-3d;
    height: 100%;
    position: absolute;
}

.cubic-element.upper-side, .cubic-element.lower-side {
    height: 50%;
    inset: auto 0;
    margin: 0 auto;
}

.cubic-element.upper-side {
    width: 33.3%;
    top: 0;

    > .hexagon {
        --vertex-margin: 20%;
        width: 100%;
        height: 30%;
        transform: translateY(75%);
        clip-path: polygon(calc(25% - var(--vertex-margin)) 0%,
                           calc(75% + var(--vertex-margin)) 0%, 100% 50%,
                           calc(75% + var(--vertex-margin)) 100%,
                           calc(25% - var(--vertex-margin)) 100%, 0% 50%);
    }
}

.cubic-element.lower-side {
    width: 37.5%;
    bottom: 0;

    > .octagon {
        --vertex-margin-width: 27.5%;
        --vertex-margin-height: 20%;
        width: 100%;
        height: 40%;
        transform: translateY(125%);
        clip-path: polygon(calc(30% - var(--vertex-margin-width)) 0%,
                           calc(70% + var(--vertex-margin-width)) 0%,
                           100% calc(30% - var(--vertex-margin-height)),
                           100% calc(70% + var(--vertex-margin-height)),
                           calc(70% + var(--vertex-margin-width)) 100%,
                           calc(30% - var(--vertex-margin-width)) 100%,
                           0% calc(70% + var(--vertex-margin-height)),
                           0% calc(30% - var(--vertex-margin-height)));
    }
}

.cubic-element.left-side, .cubic-element.right-side {
    perspective: 450px;
    width: 50%;
    overflow-x: hidden;
    --angleY: 40deg;
    --translateX: 0%;
    --translateY: 20%;
    --translateZ: -80px;

    > .hexagon {
        --vertex-margin: 5%;
        width: 100%;
        height: 70%;
        clip-path: polygon(calc(25% - var(--vertex-margin)) 0%,
                           calc(75% + var(--vertex-margin)) 0%, 100% 50%,
                           calc(75% + var(--vertex-margin)) 100%,
                           calc(25% - var(--vertex-margin)) 100%, 0% 50%);
    }
}

.cubic-element.left-side {
    left: 0;

    > .hexagon {
        transform: rotateY(var(--angleY))
                   translate3d(var(--translateX), var(--translateY), var(--translateZ));
    }
}

.cubic-element.right-side {
    right: 0;

    > .hexagon {
        transform: rotateY(calc(-1 * var(--angleY)))
                   translate3d(calc(-1 * var(--translateX)), var(--translateY), var(--translateZ));
    }
}

.hexagon, .octagon {
    position: absolute;
    background: purple;
}